Data
Preprocessing:


    Python:

    Clean
    the data by handling missing values and correcting data types.
    Normalize
    the product categories and subcategories.

In [72]:
import pandas as pd
df=pd.read_excel("/boot/sample_ecommerce_data.xlsx")
df.isnull().sum()

Transaction ID         0
Product ID             0
Product Category       0
Product Subcategory    0
Product Price          0
Quantity Sold          0
Transaction Date       0
Customer ID            0
Customer Location      0
Payment Method         0
dtype: int64

Create new features such as Total Sales (Product Price * Quantity Sold) and
    Transaction Month.

In [73]:
df["Total Sales"]=df["Product Price"]*df["Quantity Sold"]

In [74]:
df["Transaction Month"]=df["Transaction Date"].dt.month

In [75]:
df.columns = df.columns.str.strip().str.replace(' ', '_')

In [76]:
df.dtypes

Transaction_ID                  int64
Product_ID                      int64
Product_Category               object
Product_Subcategory            object
Product_Price                 float64
Quantity_Sold                   int64
Transaction_Date       datetime64[ns]
Customer_ID                     int64
Customer_Location              object
Payment_Method                 object
Total_Sales                   float64
Transaction_Month               int32
dtype: object

In [77]:
df.to_csv('/content/data1.csv',index=False)

In [78]:
df.head()

,Transaction_ID,Product_ID,Product_Category,Product_Subcategory,Product_Price,Quantity_Sold,Transaction_Date,Customer_ID,Customer_Location,Payment_Method,Total_Sales,Transaction_Month
0,1,151,Clothing,Mobile,11.14,11,2023-02-12,1017,Florida,PayPal,122.54,2
1,2,192,Electronics,Fiction,237.04,10,2023-01-21,1016,New York,Debit Card,2370.40,1
2,3,114,Books,Fiction,154.13,19,2023-11-02,1037,New York,Debit Card,2928.47,11
3,4,171,Groceries,Board Game,301.19,14,2023-07-23,1013,New York,Credit Card,4216.66,7
4,5,160,Clothing,Board Game,152.13,10,2022-03-19,1086,Florida,Cash,1521.30,3

Data
Analysis and Visualization:


    Python:

    Analyze
    the distribution of sales across different product categories and
    subcategories.

In [79]:
# Aggregate sales by ProductCategory
category_sales = df.groupby('Product_Category')['Total_Sales'].sum().reset_index()
print(category_sales)
# Aggregate sales by ProductSubcategory
subcategory_sales = df.groupby('Product_Subcategory')['Total_Sales'].sum().reset_index()
print(subcategory_sales)
# Aggregate sales by ProductCategory and ProductSubcategory
category_subcategory_sales = df.groupby(['Product_Category', 'Product_Subcategory'])['Total_Sales'].sum().reset_index()
print(category_subcategory_sales)

  Product_Category  Total_Sales
0            Books    529962.72
1         Clothing    511989.42
2      Electronics    537136.88
3        Groceries    542917.93
4             Toys    536527.38
  Product_Subcategory  Total_Sales
0       Action Figure    258941.57
1          Board Game    244381.62
2             Fiction    268751.75
3               Fruit    297819.25
4              Laptop    267999.93
5              Mobile    213556.74
6         Non-fiction    285669.66
7               Pants    316768.43
8               Shirt    256477.43
9           Vegetable    248167.95
   Product_Category Product_Subcategory  Total_Sales
0             Books       Action Figure     49342.97
1             Books          Board Game     33337.91
2             Books             Fiction     60744.00
3             Books               Fruit     67491.16
4             Books              Laptop     65500.43
5             Books              Mobile     30824.92
6             Books         Non-fiction     43644.10
7             Books               Pants     68874.33
8             Books               Shirt     76465.53
9             Books           Vegetable     33737.37
10         Clothing       Action Figure     47206.34
11         Clothing          Board Game     52054.75
12         Clothing             Fiction     34304.52
13         Clothing               Fruit     51780.46
14         Clothing              Laptop     56000.25
15         Clothing              Mobile     44811.85
16         Clothing         Non-fiction     53979.05
17         Clothing               Pants     65939.85
18         Clothing               Shirt     64416.73
19         Clothing           Vegetable     41495.62
20      Electronics       Action Figure     82229.13
21      Electronics          Board Game     63800.59
22      Electronics             Fiction     69224.30
23      Electronics               Fruit     42028.45
24      Electronics              Laptop     31750.45
25      Electronics              Mobile     50749.95
26      Electronics         Non-fiction     66849.98
27      Electronics               Pants     50003.76
28      Electronics               Shirt     37052.99
29      Electronics           Vegetable     43447.28
30        Groceries       Action Figure     55495.02
31        Groceries          Board Game     70079.91
32        Groceries             Fiction     56847.51
33        Groceries               Fruit     39978.33
34        Groceries              Laptop     46696.67
35        Groceries              Mobile     51325.14
36        Groceries         Non-fiction     48425.16
37        Groceries               Pants     63662.98
38        Groceries               Shirt     29495.69
39        Groceries           Vegetable     80911.52
40             Toys       Action Figure     24668.11
41             Toys          Board Game     25108.46
42             Toys             Fiction     47631.42
43             Toys               Fruit     96540.85
44             Toys              Laptop     68052.13
45             Toys              Mobile     35844.88
46             Toys         Non-fiction     72771.37
47             Toys               Pants     68287.51
48             Toys               Shirt     49046.49
49             Toys           Vegetable     48576.16

Identify
the top 5 best-selling products and the top 5 least-selling products.

In [80]:
df[df['Product_Category']=="Books"].groupby("Product_Subcategory")["Total_Sales"].sum().sort_values(ascending=False).head(5)

Product_Subcategory
Shirt      76465.53
Pants      68874.33
Fruit      67491.16
Laptop     65500.43
Fiction    60744.00
Name: Total_Sales, dtype: float64

In [81]:
df[df['Product_Category']=="Books"].groupby("Product_Subcategory")["Total_Sales"].sum().sort_values(ascending=False).tail(5)

Product_Subcategory
Action Figure    49342.97
Non-fiction      43644.10
Vegetable        33737.37
Board Game       33337.91
Mobile           30824.92
Name: Total_Sales, dtype: float64

Analyze
customer purchasing behavior by location and payment method.

In [82]:
# Average sales by customer location
avg_sales_by_location = df.groupby('Customer_Location')['Total_Sales'].mean().reset_index()

print(avg_sales_by_location)

  Customer_Location  Total_Sales
0        California  2843.177521
1           Florida  2437.069607
2          Illinois  2437.797980
3          New York  2825.871283
4             Texas  2707.684242

In [83]:
# Average sales by payment method
avg_sales_by_payment_method = df.groupby('Payment_Method')['Total_Sales'].mean().reset_index()

print(avg_sales_by_payment_method)

  Payment_Method  Total_Sales
0           Cash  2455.417148
1    Credit Card  2799.456076
2     Debit Card  2779.384167
3         PayPal  2612.045647

Advanced
Analysis:


    Python:

    Use
    Python classes and data structures to manage and analyze the data

In [86]:

class ECommerceData:
    def __init__(self, file_path):
        self.df = pd.read_excel(file_path)

    def get_summary(self):
        """Returns a summary of the dataset."""
        return self.df.describe(include='all')

    def get_top_selling_products(self, top_n=10):
    # Select only the necessary columns: 'Product ID' and 'total_sales'
      top_products = self.df.groupby('Product ID')['total_sales'].sum().sort_values(ascending=False)
      return top_products.head(top_n)

    def get_sales_by_category(self):
        """Returns the total sales aggregated by product category."""
        sales_by_category = self.df.groupby('Product Category')['total_sales'].sum().sort_values(ascending=False)
        return sales_by_category

    def filter_data_by_date(self, start_date, end_date):
        """Filters the dataset between start_date and end_date."""
        filtered_df = self.df[(self.df['Transaction Date'] >= start_date) & (self.df['Transaction Date'] <= end_date)]
        return filtered_df

    def add_calculated_columns(self):
        """Adds any calculated columns, like total_sales."""
        self.df['total_sales'] = self.df['Product Price'] * self.df['Quantity Sold']

    def save_to_excel(self, output_path):
        """Saves the current state of the DataFrame to an Excel file."""
        self.df.to_excel(output_path, index=False)

# Example usage:
file_path = '/content/data.xlsx'
ecommerce_data = ECommerceData(file_path)

# Add calculated columns
ecommerce_data.add_calculated_columns()

# Get a summary of the data
print(ecommerce_data.get_summary())

# Get the top 10 selling products
print(ecommerce_data.get_top_selling_products())

# Get sales by product category
print(ecommerce_data.get_sales_by_category())

# Filter data between specific dates
filtered_df = ecommerce_data.filter_data_by_date('2024-01-01', '2024-08-01')
print(filtered_df)

# Save the processed data to a new Excel file
output_path = 'processed_data.xlsx'
ecommerce_data.save_to_excel(output_path)

         Unnamed: 0  Transaction ID   Product ID Product Category  \
count   1000.000000     1000.000000  1000.000000             1000
unique          NaN             NaN          NaN                5
top             NaN             NaN          NaN             Toys
freq            NaN             NaN          NaN              206
mean     499.500000      500.500000   149.128000              NaN
min        0.000000        1.000000   100.000000              NaN
25%      249.750000      250.750000   123.000000              NaN
50%      499.500000      500.500000   150.000000              NaN
75%      749.250000      750.250000   174.000000              NaN
max      999.000000     1000.000000   199.000000              NaN
std      288.819436      288.819436    29.573505              NaN

       Product Subcategory  Product Price  Quantity Sold  \
count                 1000    1000.000000     1000.00000
unique                  10            NaN            NaN
top                  Pants            NaN            NaN
freq                   110            NaN            NaN
mean                   NaN     250.074310       10.39300
min                    NaN       5.010000        1.00000
25%                    NaN     133.605000        6.00000
50%                    NaN     249.375000       11.00000
75%                    NaN     370.887500       15.00000
max                    NaN     498.920000       19.00000
std                    NaN     143.260289        5.34426

                     Transaction Date  Customer ID Customer Location  \
count                            1000  1000.000000              1000
unique                            NaN          NaN                 5
top                               NaN          NaN        California
freq                              NaN          NaN               234
mean    2023-01-05 20:52:47.999999744  1049.554000               NaN
min               2022-01-01 00:00:00  1000.000000               NaN
25%               2022-07-08 00:00:00  1024.000000               NaN
50%               2023-01-09 12:00:00  1050.000000               NaN
75%               2023-06-28 00:00:00  1075.000000               NaN
max               2023-12-31 00:00:00  1099.000000               NaN
std                               NaN    28.711347               NaN

       Payment Method  Total Sales  Transaction Month  total_sales
count            1000   1000.00000        1000.000000   1000.00000
unique              4          NaN                NaN          NaN
top              Cash          NaN                NaN          NaN
freq              256          NaN                NaN          NaN
mean              NaN   2658.53433           6.539000   2658.53433
min               NaN      9.47000           1.000000      9.47000
25%               NaN    784.59250           4.000000    784.59250
50%               NaN   2026.40000           6.000000   2026.40000
75%               NaN   4020.46000           9.000000   4020.46000
max               NaN   9180.61000          12.000000   9180.61000
std               NaN   2220.12754           3.379334   2220.12754
Product ID
191    56869.20
161    56217.04
132    52140.13
174    48185.94
100    46775.25
157    45736.42
189    44605.89
101    44117.77
138    41985.59
173    41177.03
Name: total_sales, dtype: float64
Product Category
Groceries      542917.93
Electronics    537136.88
Toys           536527.38
Books          529962.72
Clothing       511989.42
Name: total_sales, dtype: float64
Empty DataFrame
Columns: [Unnamed: 0, Transaction ID, Product ID, Product Category, Product Subcategory, Product Price, Quantity Sold, Transaction Date, Customer ID, Customer Location, Payment Method, Total Sales, Transaction Month, total_sales]
Index: []